@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,body {
    font-family: 'Roboto', sans-serif;
    color:#000000;
    font-size: 16px;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100000;
}

.radar-type1 { background: url(https://virtina.com/wp-content/themes/virtina/images/radar.svg) no-repeat; width: 356px; opacity: .8; height: 356px; z-index: -1; background-size: 356px 356px; position: absolute; top: 50%; left: 50%;transform: translate(-50%,-50%);-moz-transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}
.radar-type1 .cir-one {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 6s infinite linear; -moz-animation: rotate360 6s infinite linear; animation: rotate360 6s infinite linear; }
.radar-type1 .cir-one:after {content: '';display: inline-block;position: absolute;background: #00F0D8;width: 12px;height: 12px;right: 198px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-two {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 12s infinite linear; -moz-animation: rotate360 12s infinite linear; animation: rotate360 12s infinite linear; }
.radar-type1 .cir-two:after {content: '';display: inline-block;position: absolute;background: #A5BDD3;width: 26px;height: 26px;right: 268px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-three {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 8s infinite linear; -moz-animation: rotate360 8s infinite linear; animation: rotate360 8s infinite linear; }
.radar-type1 .cir-three:after {content: '';display: inline-block;position: absolute;background: #00A0E2;width: 16px;height: 16px;right: 328px;bottom:72px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}
.radar-type1 .cir-zero {display: block; position: absolute; z-index: 1024; left: 0%; right: 0%; top: 0%; bottom: 50%; will-change: transform; -webkit-transform-origin: 50% 100%; -moz-transform-origin: 50% 100%; transform-origin: 50% 100%; -webkit-animation: rotate360 8s infinite linear; -moz-animation: rotate360 8s infinite linear; animation: rotate360 8s infinite linear; }
.radar-type1 .cir-zero:after {content: '';display: inline-block;position: absolute;background: #00A0E2;width: 10px;height: 10px;right: 158px;bottom:29px; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; border-radius: 100%;}

@-moz-keyframes rotate360 {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  to { -moz-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@-webkit-keyframes rotate360 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}
@keyframes rotate360 {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); }
}

@-moz-keyframes stretch {
  10%, 100% {
   -moz-transform: scale(1);
  }
  0% {
    -moz-transform: scale(1);
    
  }
  5% {
    -moz-transform: scale(1.3);
    
  }
}
@-webkit-keyframes stretch {
  10%, 100% {
   -webkit-transform: scale(1);
  }
  0% {
    -webkit-transform: scale(1);
    
  }
  5% {
    -webkit-transform: scale(1.3);
    
  }
}
@keyframes stretch {
  10%, 100% {
   transform: scale(1);
  }
  0% {
    transform: scale(1);
    
  }
  5% {
    transform: scale(1.3);
    
  }
}


header {
    position: relative;
    background-color: #fff;
    width: 100%;
    border-bottom:1px solid #dfdfdf;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

header .search a {
    color:#000;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}

.responsive-ul-menu {
    padding: 0;
    list-style: none;
}

.responsive-ul-menu > li ul {
    padding: 0;
    list-style: none;
    margin-left:15px;
}
.responsive-ul-menu > li {
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:1px solid rgba(233, 233, 233, 0.315);
}
.responsive-ul-menu > li:last-child {
    border-bottom: none;
}
.responsive-ul-menu > li > ul > li {
    padding-top:3px;
    padding-bottom:3px;
}
.responsive-ul-menu > li > ul > li a {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.651);
}
.emp100 {
    height: 100px;
}

.emp50 {
    height: 50px;
}
.overflowinh {
    overflow: inherit!important;
}
.primary-menu {
    list-style: none;
    padding:0;
    margin:0;
}
.primary-menu > li {
    float: left;
    padding:30px;
    background: transparent;
    position: relative;
    border-left:0.5px solid #e4e4e4;
}
header .search {
    cursor: pointer;
    padding:30px;
    border-left:0.5px solid #e4e4e4;
}
header .logo {
    margin-left:20px;
}
.primary-menu > li:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(40,96,225,1)  0%, rgba(101,148,255,1) 100%);
    border-left:0.5px solid #7196EB;
}
.primary-menu > li.current-menu-item , .primary-menu > li.current-menu-parent {
    background: linear-gradient(0deg, rgba(40,96,225,1)  0%, rgba(101,148,255,1) 100%);
    border-left:0.5px solid #7196EB;
}

.primary-menu .sub-menu > li.current-menu-item a {
    color:rgba(40,96,225,1);
    font-weight: bold;
}

.primary-menu > li.current-menu-item > a, .primary-menu > li.current-menu-parent > a {
    color:#fff;
    font-weight: bold;
}
.primary-menu > li:hover > a {
    color:#fff;
    font-weight: bold;
}
.primary-menu > li > a {
    color:#000;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}
.primary-menu > li > a:hover {
    text-decoration: none;
}
.primary-menu > li.sub-menu {
    padding-right: 40px;
}
.primary-menu > li > ul {
    opacity: 0;
    visibility: hidden;
    padding: 20px 40px;
    margin:0;
    list-style: none;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 0;
    top:85px;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 200px;
    transition: 0.5s all;
}
.primary-menu > li:hover > ul {
    opacity: 1;
    visibility: visible;
}
.primary-menu > li > ul > li {
    width: max-content;
    padding:5px 0;
}
.primary-menu > li > ul > li:hover a {
    color:#3066E2;
    font-weight: bold;
}
.primary-menu > li > ul > li > a {
    color:#000;
    text-transform: uppercase;
    font-size: 12px;
    position: relative;
}
.primary-menu > li > ul > li > a:hover {
    text-decoration: none;
}
.primary-menu > li.menu-item-has-children {
    padding-right: 40px;
}
.primary-menu > li.menu-item-has-children > a::after {
    content:"\1f893";
    color:#C3C3C3;
    position: absolute;
    display: block;
    top:65%;
    right: -15px;
    transform: scale(2.5);
}
.letter-re2 {
    letter-spacing: -2px;
}
.primary-button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    border:none;
    border-radius: 30px;
    background: rgb(101,148,255);
    padding:15px 40px;
    background: linear-gradient(-45deg, rgba(101,148,255,1) 0%, rgba(40,96,225,1) 100%);
    transition: 0.5s all;
}
.primary-button:hover {
    background: #fff;
    color:#fff;
    background: linear-gradient(-45deg, rgb(54, 109, 238) 0%, rgb(11, 75, 223) 100%);
}
.home-carousel {
    position: relative;
    background-color: #dfdfdf;
    height: 92vh;
    width: 100%;
}
.home-carousel .sidemodal {
    position: absolute;
    top:0;
    width: 400px;
    height: 100%;
    left: -390px;
    z-index: 150;
    background-color: #2860e1;
    transition: 0.6s all;
}
.home-carousel .sidemodal.open {
    left:0;
}
.home-carousel .sidemodal.full-line {
    top:-90px;
    height: calc(100% + 90px);
}
.home-carousel .sidemodal .mod-btn {
    position: absolute;
    top:38%;
    right: -31px;
}
.home-carousel .sidemodal .mod-btn .bt {
    position: relative;
    color:#fff;
    cursor: pointer;
    z-index: 160;
    right: -36px;
    transition: 0.5s all;
}
.archive .single-picture {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.archive .archive-title {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
header .logo {
    transition: 0.6s all;
}
header .logo.push {
    margin-left:420px;
}
.sidemodal .bt.active {
    transform: rotate(180deg);
}
.home-carousel .uk-slideshow-items {
    min-height: 92vh!important;
}
.home-carousel .uk-slideshow-items > li > img {
    width: 100%;
    height: 92vh!important;
}
.m15per {
    margin-left:15%;
}
.w600 {
    width: 600px;
}
.home-carousel .content h1 {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
}
.home-carousel .content {
    color:#BFBFBF;
}
.home-carousel .list {
    list-style: none;
    padding:0;
}
.home-carousel .list > li {
    border-bottom:1px solid #7CA4FF;
    padding-top:20px;
    padding-bottom:40px;
}
.home-carousel .list > li > h3 {
    font-family: 'Roboto', sans-serif;
    color:#fff;
    font-size: 22px;
    font-weight: bold;
    margin:0;
}
.home-carousel .list > li > p {
    color:#fff;
    opacity: 0.43;
    margin-bottom: 30px;
}
.home-carousel .list > li:last-child {
    border-bottom: none;
}
.home-carousel .perma {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    border:1px solid #fff;
    border-radius: 30px;
    padding:15px 40px;
}
.home-carousel .content p {
    margin-bottom:40px;
}
.home-carousel .perma:hover {
    text-decoration: none;
}
.home-carousel .pagination {
    width: 100%;
    position: absolute;
    bottom: 20px;
}
.home-carousel .pagination > ul li.uk-active  a {
    background-color: #2860E1;
    border:none;
    width: 12px;
    height: 12px;
}
.home-carousel .pagination > ul li a {
    background-color:#fff;
    border:none;
    width: 12px;
    height: 12px;
}
.white-text {
    color:#fff;
}
.video-player {
    position: relative;
}
.video-player .play-btn {
    cursor: pointer;
}
.video-player::after {
    content:"";
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    width: 400px;
    height: 400px;
    backdrop-filter: blur(16px);
    border-radius:50%;
    top: 120px;
    right: -300px;
    -webkit-mask:radial-gradient(circle 80px,transparent 99%,#fff 100%);
            mask:radial-gradient(circle 80px,transparent 99%,#fff 100%);
}
.pos-circle {
    position: relative;
}
.pos-circle::after {
    content:"";
    position: absolute;
    background: rgba(255, 255, 255, 0.185);
    width: 440px;
    height: 440px;
    backdrop-filter: blur(20px);
    border-radius:50%;
    top: 50px;
    left:-350px;
    -webkit-mask:radial-gradient(circle 100px,transparent 99%,#fff 100%);
            mask:radial-gradient(circle 100px,transparent 99%,#fff 100%);
}
.double-circle.top {
    position: absolute;
    background: rgba(255, 255, 255, 0.185);
    width: 540px;
    height: 540px;
    backdrop-filter: blur(20px);
    border-radius:50%;
    top: -300px;
    right: -400px;
    z-index: 10;
    -webkit-mask:radial-gradient(circle 140px,transparent 99%,#fff 100%);
            mask:radial-gradient(circle 140px,transparent 99%,#fff 100%);
}
.double-circle.bottom {
    position: absolute;
    background: rgba(255, 255, 255, 0.185);
    width: 540px;
    height: 540px;
    backdrop-filter: blur(20px);
    border-radius:50%;
    bottom: -200px;
    left: -400px;
    z-index: 5;
    -webkit-mask:radial-gradient(circle 130px,transparent 99%,#fff 100%);
            mask:radial-gradient(circle 130px,transparent 99%,#fff 100%);
}


.page-thumbnail {
    background-color: rgb(0,43,145);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 600px;
}
.page-thumbnail::before {
    content:"";
    background: rgb(0,43,145);
    background: linear-gradient(0deg, rgba(0,43,145,0.9) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-thumbnail .title {
    width: 900px;
    text-align: center;
    margin-bottom: 50px;
}
.page-thumbnail .title > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
    margin-top:15px;
}
.page-thumbnail .title > h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#fff;
    opacity: 0.5;
    text-transform: uppercase;
    margin:0;
}

.post-footer {
    margin-top:50px;
    border-top:1px solid #DEDEDE;
    padding-top:30px;
}

.post-footer .share-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#8B8B8B;
}
.post-footer .share-button:hover {
    color:#2860E1;
    text-decoration: none;
}

.post-footer .author {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#8B8B8B;
}
.post-footer .author span {
    text-decoration: underline;
}

.recent-post {
    margin-top:100px;
    margin-bottom: 100px;
}

.recent-post > h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color:#2860E1;
    font-weight: 500;
}

.z-10 {
    z-index: 10;
}
.background-center {
    background-position: center;
}
.home-liner-blue-gradient {
    background: rgb(0,43,145);
    background: linear-gradient(0deg, rgba(0,43,145,1) 0%, rgba(40,96,225,1) 100%);
}

.sub-orginization {
    position: relative;
    z-index: 100;
}

.sub-orginization .thumbnail {
    width: 100%;
    height: 320px;
    background-color: rgb(240, 240, 240);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.sub-orginization .mark {
    margin-top:-40px;
}
.sub-orginization .title {
    margin-top:0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color:#000;
}
.sub-orginization p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#919191;
    margin-bottom: 30px;
}

.gerege-post .thumbnail {
    width: 100%;
    height: 230px;
    background-color: rgb(219, 219, 219);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.gerege-post h4 {
    margin:20px 0;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color:#000000;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.gerege-post .date {
    padding-top:10px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color:#969696;
}

.gerege-product {
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(135,153,163,0.2);
}
.gerege-product:hover {
    background-color: #2860E1;
}
.gerege-product:hover .title,
.gerege-product:hover .price,
.gerege-product:hover ul > li,
.gerege-product:hover ul > li > span {
    color:#fff;
}
.gerege-product:hover p {
    color:rgba(255,255,255,0.4);
}
.gerege-product:hover .primary-button {
    background: #fff!important;
    color:#2860E1;
}
.gerege-product .thumbnail {
    height: 272px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gerege-product .title {
    margin-top:10px;
    font-family: 'Roboto', sans-serif;
    color:#2860E1;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 0;
}
.gerege-product .price {
    margin-top: 5px;
    margin-bottom:5px;
    font-family: 'Roboto', sans-serif;
    color:#000;
    font-weight: 400;
    font-size: 19px;
}
.gerege-product p {
    margin-top:10px;
    font-family: 'Roboto', sans-serif;
    color:#919191;
    font-size: 15px;
}
.gerege-product .primary-button {
    padding:15px 50px;
}
.gerege-product ul {
    margin-top:30px;
    padding:0 40px;
    text-align: left;
    list-style: none;
}
.gerege-product ul > li {
    padding:10px 0;
    border-bottom: 1px solid #E0E8FF;
    font-family: 'Roboto', sans-serif;
    color:#000;
    font-weight: 400;
    font-size: 15px;
}
.gerege-product ul > li > span {
    color:#2860E1;
    margin-right: 8px;
}
.gerege-product ul > li:last-child {
    border-bottom: none;
}
.page-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color:#2860E1;
}
.kiosk-location {
    position: relative;
}
.kiosk-location .search {
    position: relative;
    z-index: 500;
    padding:20px;
    margin-top:-35px;
    background-color: #0D1F37;
}
.kiosk-location .search span {
    color:#2860E1;
}

.kiosk-location .search input {
    margin-left:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 21px;
    width: 90%;
    border:none;
    background: transparent;
    outline: none;
    color:#fff;
}
.kiosk-location .search input::placeholder {
    color:#fff;
}
.gerege-questions.left-quest {
    margin-left:30px;
}

.gerege-questions.left-quest ul > li > .uk-accordion-title {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
}
.gerege-questions.left-quest ul > li.uk-open > .uk-accordion-title {
    color:#2860E1;
}

.gerege-questions.left-quest ul > li > .uk-accordion-title::before {
    float: left;
    filter: invert(25%) sepia(89%) saturate(4424%) hue-rotate(222deg) brightness(98%) contrast(80%);
    margin-right: 10px;
}
.gerege-questions.left-quest ul > li > .uk-accordion-title:hover {
    color:#2860E1;
}

.gerege-questions.left-quest ul > li .uk-accordion-content {
    border-left: 1px solid #6090FF;
    margin-left:30px;
    padding-left:20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#838383;
}


.gerege-questions.left-quest ul > li {
    padding-bottom: 12px;
    border-bottom: 1px solid #DDDDDD;
}


.gerege-questions.standart {
    background-color: #EBF1FF;
    padding:30px 50px;
}

.gerege-questions.standart ul > li > .uk-accordion-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.gerege-questions.standart ul > li > .uk-accordion-title:hover {
    color:#2860E1;
}

.gerege-questions.standart ul > li.uk-open > .uk-accordion-title {
    color: #2860e1;
    font-weight: 600;
}

.gerege-questions.standart ul > li.uk-open > .uk-accordion-title::before {
    filter: invert(25%) sepia(89%) saturate(4424%) hue-rotate(222deg) brightness(98%) contrast(80%);
    margin-right: 10px;
}

.gerege-questions.standart ul > li {
    padding-bottom: 12px;
    border-bottom: 1px solid #C3D5FF;
}
.gerege-questions.standart ul:last-child > li {
    border-bottom: none;
}

.gerege-questions.standart .title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 50px;
}

.page-contact .form-field > label {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.page-contact .form-field > input[type=text],.page-contact .form-field > input[type=number], .page-contact .form-field > input[type=email] {
    outline: none;
    background: transparent;
    border:none;
    border-radius: 0;
    box-shadow: none;
    border-bottom:1px solid #DEDEDE;
    padding:0;
}
.page-contact .form-field > input[type=text]:focus,.page-contact .form-field > input[type=number]:focus, .page-contact .form-field > input[type=email]:focus {
    border:none;
    box-shadow: none!important;
    border-bottom:1px solid #DEDEDE!important;
}
.page-contact .frm_button_submit {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 12px!important;
    text-transform: uppercase!important;
    font-weight: bold!important;
    color:#fff!important;
    border:none!important;
    border-radius: 30px!important;
    background: rgb(101,148,255)!important;
    padding:15px 40px!important;
    background: linear-gradient(-45deg, rgba(101,148,255,1) 0%, rgba(40,96,225,1) 100%)!important;
    transition: 0.5s all;
}

.gerege-team .item {
    text-align: center;
}

.gerege-team .item h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color:#000;
    font-weight: 500;
    margin-top:20px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.gerege-team .item p {
    margin-top:5px;
    color:#919191;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.gerege-team .item .thumb {
    background-color: #EBF1FF;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 318px;
}

.gerege-posts .thumb {
    background-color: #EBF1FF;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.gerege-posts {
    padding-bottom: 40px;
    border-bottom:1px solid #e7e7e7;
    margin-bottom:50px;
}
.gerege-posts:last-child {
    border-bottom: none;
}
.gerege-posts .excerp {
    margin-left:30px;
}
.gerege-posts .excerp h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.gerege-posts .excerp a:hover {
    text-decoration: none;
}
.gerege-posts .excerp a:hover h4 {
    color:#2860E1;
}
.gerege-posts .excerp p {
    font-size: 14px;
}

.search-result-title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}
.search-result-title h1 span {
    color:#d6d6d6;
}
.responsive-menu span {
    color:#000;
}

.line-background {
    background: rgb(0,43,145);
    background: linear-gradient(0deg, rgba(0,43,145,1) 0%, rgba(40,96,225,1) 100%);
}

.gerege-timeline > div .thumb {
    width: 139px;
    height: 139px;
    background-position: center;
    background-size: cover;
}

.gerege-timeline > div h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color:#fff;
}
.gerege-timeline > div p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.49);
    margin-bottom: 0;
}

.gerege-timeline > div .year > div {
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 10;
}
.gerege-timeline > div .year > div > div {
    background-color: #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    
}
.gerege-timeline > div .year > div > div > div {
    text-align: center;
    width: 100%;
}
.gerege-timeline > div .year h5 {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#2860E1;
}

.gerege-timeline > div {
    position: relative;
    z-index: 10;
}

.gerege-timeline > div > div {
    margin-bottom: 50px;
}

.gerege-timeline > div::before {
    content: "";
    display: block;
    position: absolute;
    border-right: 1px dashed #fff;
    width: 1px;
    height: 100%;
    left: 50%;
    top:50px;
    z-index: -1;
}
.gerege-timeline .height70 {
    height: 70px;
}

.gerege-testimonial {
    height: 350px;
}

.gerege-testimonial .thumbnail {
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gerege-testimonial .content::before {
    content: "“";
    font-family: 'Roboto', sans-serif;
    display: block;
    position: absolute;
    font-weight: 700;
    font-size: 300px;
    color:#EBF1FF;
    z-index: -1;
    top: 30px;
    left: 5px;
}
.gerege-testimonial .content {
    padding:50px;
    position: relative;
    z-index: 10;
}
.gerege-testimonial .content h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 21px;
    margin:0;
}
.gerege-testimonial .content h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#919191;
    margin:0;
}
.gerege-testimonial .content p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#0D0D0D;
    font-style: italic;
}
.gerege-testimonial .person {
    padding-left: 10px;
}
.gerege-testimonial .person .image {
    border-radius: 50%;
    width: 83px;
    height: 83px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border:2px solid rgba(255,255,255,0.5);
}
.gerege-testimonial .person.active .image {
    border:2px solid #EB7600;
}
.gerege-tour .vc_tta-tabs-list > li:first-child > a {
    padding-top: 0!important;
}
.gerege-tour .vc_tta-tabs-list > li > a {
    font-family: 'Roboto', sans-serif!important;
    font-size: 18px!important;
    font-weight: 500!important;
    color:#000!important;
    border: none!important;
}
.gerege-tour .vc_tta-tabs-list > li.vc_active > a {
    color:#2860E1!important;
    background-color: transparent!important;
}

.gerege-tour .vc_tta-tabs-list > li:hover > a {
    color:#2860E1!important;
    background-color: transparent!important;
}

.gerege-tour .vc_tta-panel-body {
    padding-left: 30px!important;
    border-left:1px solid #DDDDDD!important;
}

.gerege-workspace h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color:#2860E1;
    margin:0;
}
.gerege-workspace h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#454545;
    margin:0;
}
.gerege-workspace p {
    margin-top:0;
    color:#696969;
}
.gerege-workspace .icon {
    color:#A8A8A8;
}

.gerege-workspace .padding-top {
    padding-top: 15px;
}

.secondary-button {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color:#EB7600;
    border:none;
    font-weight: 700;
    border-radius: 5px;
    color:#fff;
    padding:8px 20px;
    cursor: pointer;
}
.icon_padding > div {
    padding:20px;
}

.contact-page {
    padding:40px;
    background-color: #EBF1FF;
}
.contact-page .form-field > input[type=text],.page-contact .form-field > input[type=number], .page-contact .form-field > input[type=email] {
    background-color: #fff;
    padding:0!important;
}
.contact-button > .primary-button {
    background: #fff!important;
    color:#2860E1;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 21px;
    text-transform: none;
    border:2px solid #2860E1;
    border-radius: 10px;
}
.contact-button:hover {
    text-decoration: none;
}

.map-info {
    padding:10px;
}

.map-info .thumb {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 200px;
}

.map-info > h4  {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color:#2860E1;
    margin:10px 0;
}

.map-info > p, .map-info > h6   {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#000;
    margin:0;
    margin-bottom: 10px;
}

.pagination .page-numbers {
    padding: 0;
    list-style: none;
}
.pagination .page-numbers > li {
    float: left;
    margin-right: 20px;
}
.pagination .page-numbers > li > span.current {
    background-color: rgba(40,96,225,1);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    padding:8px 15px;
    color:#fff;
}
.pagination .page-numbers > li > a {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color:#000;
    text-decoration: none;
}

#search-modal {
    background-color: #fff;
}
#search-modal .search-body {
    height: 100vh;
}
#search-modal .search-input {
    border-bottom: 1px solid rgb(228, 228, 228);
    padding-bottom: 10px;
}
#search-modal .search-input span {
    color:rgb(206, 206, 206);
}
#search-modal .search-input input {
    margin-left: 10px;
    width: 700px;
    padding: 10px 0;
    border-radius: 0;
    border:none;
    background: none;
    outline: none;
}

#search-modal .search-form > div {
    text-align: center!important;
}

#search-modal .search-body h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 42px;
    text-transform: uppercase;
    margin-bottom:40px;
}

#search-modal .search-body .search-submit {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color:#fff;
    border:none;
    border-radius: 30px;
    background: rgb(101,148,255);
    padding:15px 40px;
    background: linear-gradient(-45deg, rgba(101,148,255,1) 0%, rgba(40,96,225,1) 100%);
    transition: 0.5s all;
}

footer {
    padding:30px 0;
    background-color: #000;
}
footer h5 {
    color:#6090FF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
}

footer ul {
    padding:0;
    list-style: none;
}
footer ul > li {
    margin-bottom:8px;
}
footer ul > li > a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color:#fff;
}
footer ul > li > a:hover {
    text-decoration: none;
    color:#6090FF;
}
footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#fff;
}
footer .copywrite h6 {
    margin-top:80px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#707070;
    text-transform: uppercase;
}
.ml-40 {
    margin-left: 40px;
}


@media only screen and (max-width: 600px) {
    .responisve-status {
        font-size: 48px!important;
    }
    .retext-center {
        text-align: center!important;
    }
    .rpadding20 {
        padding:20px;
    }
    .home-carousel .content {
        padding: 20px;
        text-align: center;
    }
    .m15per {
        margin-left: auto;
    }
    .gerege-timeline {
        position: relative;
    }
    .gerege-timeline > div::before {
        border-right: none;
    }
    .gerege-timeline::before {
        content: "";
        display: block;
        position: absolute;
        border-right: 1px dashed #fff;
        width: 1px;
        height: 100%;
        left: 15%;
        top:25px;
    }
    .gerege-timeline > div .thumb {
        width: auto;
        height: 160px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .ml-40 {
        margin-left: 0;
    }
    .gerege-testimonial .thumbnail {
        height: 400px;
    }
    .rmargin15 {
        margin:3px!important;
    }
}
